<footer class="bg-slate-200 text-slate-700 w-full">
  <div class="container md:container mx-auto grid grid-cols-4 gap-28 py-10 px-2">
    <!-- about -->
    <div class="flex flex-col gap-3">
      <h1 class="text-2xl font-semibold text-slate-800">Cart Page</h1>
      <p>
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        cillum sint consectetur cupidatat.
      </p>
      <p>@copy right 2024.</p>
    </div>
    <!-- help -->
    <div class="flex flex-col gap-3">
      <h1 class="text-2xl font-semibold text-slate-800">Quick navigation</h1>
      <p routerLink="" class="text-lg font-semibold cursor-pointer">Home</p>
      <p routerLink="cart" class="text-lg font-semibold cursor-pointer">Cart</p>
      <p routerLink="wishlist" class="text-lg font-semibold cursor-pointer">Wishlist</p>
      <p routerLink="login" class="text-lg font-semibold cursor-pointer">Login</p>
      <p routerLink="register" class="text-lg font-semibold cursor-pointer">Register</p>
    </div>
    <!-- address -->
    <div class="flex flex-col gap-3">
      <h1 class="text-2xl font-semibold text-slate-800">Registere Account</h1>
      <p>Manhattan PO</p>
      <p>Near Center Square</p>
      <p>Beker Streeet</p>
    </div>
    <!-- contact us -->
    <div class="flex flex-col gap-3">
      <h1 class="text-2xl font-semibold text-slate-800">Contact Us</h1>
      <div class="flex gap-2 py-2 px-4 border-2 border-slate-700 rounded-full items-center">
        <input type="text" placeholder="Message" class="bg-transparent outline-none">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="w-full text-3xl flex justify-between ">
        <i class="fa-brands fa-instagram cursor-pointer"></i>
        <i class="fa-brands fa-facebook cursor-pointer"></i>
        <i class="fa-brands fa-linkedin cursor-pointer"></i>
        <i class="fa-brands fa-github cursor-pointer"></i>
        <i class="fa-brands fa-whatsapp cursor-pointer"></i>
      </div>
    </div>
  </div>
</footer>
