<header
  class="w-full text-slate-700 container md:container mx-auto flex items-center gap-4 py-2"
>
  <!-- logo -->
  <div>
    <h1 class="text-3xl font-bold">Logo</h1>
  </div>
  <input
    class="border ml-auto border-slate-400 rounded-xl px-4 py-2 outline-none"
    type="text"
    placeholder="Search item"
  />
  <div class="relative text-xl px-2 cursor-pointer">
    <i class="fa-solid fa-cart-shopping z-10"></i>
    <span
      class="absolute top-[-4px] z-0 right-[-6px] bg-red-700 text-slate-100 rounded-full px-1 text-xs"
      >0</span
    >
  </div>
  <div class="relative text-xl px-2 cursor-pointer">
    <i class="fa-solid fa-heart z-10"></i>
    <span
      class="absolute top-[-4px] z-0 right-[-6px] bg-red-700 text-slate-100 rounded-full px-1 text-xs"
      >0</span
    >
  </div>
  <button
    class="border border-slate-400 rounded-xl px-4 py-2 hover:bg-slate-900 hover:text-slate-100 transition-all hover:border-slate-900"
  >
    Login
  </button>
</header>
