<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-md mx-auto text-center">
      <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">
        Wishlist items
      </h2>
    </div>

    <div class="grid grid-cols-2 gap-6 mt-10 lg:mt-16 lg:gap-4 lg:grid-cols-4">
      <div class="relative group">
        <div class="overflow-hidden aspect-w-1 aspect-h-1">
          <img
            class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125"
            src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/item-cards/4/product-1.png"
          />
        </div>
        <div class="flex items-start justify-between mt-4 space-x-4">
          <div routerLink="/view/1">
            <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
              <a>
                Beoplay M5 Bluetooth Speaker
                <span class="absolute inset-0" aria-hidden="true"></span>
              </a>
            </h3>
          </div>

          <div class="text-right">
            <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
              $99.00
            </p>
            <div class="flex items-center mt-2.5 justify-between">
              <button class="relative text-xl px-2 cursor-pointer">
                <i
                  class="fa-solid fa-cart-shopping z-10 hover:text-green-700"
                ></i>
              </button>
              <button class="relative text-xl px-2 cursor-pointer">
                <i class="fa-solid fa-heart-circle-minus text-pink-700"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
